form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #84725e;
    border-radius: 5px;
  }

  .bttn-container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

