<form [formGroup]="addTask" class="add-task" (ngSubmit)="addTasks(addTask)">
  <button (click)="addField()" *ngIf="!add">Add Task</button>
  <button type="button" (click)="createStatus()">Create Task Status</button>
  <div class="modal" *ngIf="add">
    <div class="modal-content">
      <div class="task-container">
        <div class="task-content">
          <label>Task description:</label>
          <input formControlName="description" for="task" type="text" required minlength="3" maxlength="20" />
          <div class="errorlabel" *ngIf="addTask.get('description')?.errors?.['required'] &&  submitted">
            Task description is required
          </div>
          <div class="errorlabel"
            *ngIf="(addTask.get('description')?.errors?.['maxlength'] || addTask.get('description')?.errors?.['minlength']) && submitted">
            Task description has to be between 3 and 20
          </div>
          <label>Due Date(YYYY-MM-DD HH:MM:SS):</label>
          <input formControlName="dueDate" for="task" type="text" required minlength="3" maxlength="20" />
          <!-- <div class="errorlabel" *ngIf="addTask.get('dueDate')?.errors?.['required'] &&  submitted">Due date is required</div>
        <div class="errorlabel" *ngIf="(addTask.get('dueDate')?.errors?.['maxlength'] || addTask.get('dueDate')?.errors?.['minlength']) && submitted">Project Name has to be between 3 and 20</div> -->
          <label>Assignee Mail:</label>
          <input formControlName="assigneeMail" for="project" type="text" required minlength="3" maxlength="20" />
          <!-- <div class="errorlabel" *ngIf="addTask.get('projectName')?.errors?.['required'] &&  submitted">Group Name is required</div>
        <div class="errorlabel" *ngIf="(addTask.get('projectName')?.errors?.['maxlength'] || addTask.get('projectName')?.errors?.['minlength']) && submitted">Project Name has to be between 3 and 20</div> -->
          <label>Current Status Id:</label>
          <input formControlName="currentStatusId" for="project" type="text" required minlength="3" maxlength="20" />
          <!-- <div class="errorlabel" *ngIf="addTask.get('projectDescription')?.errors?.['required'] &&  submitted">Group Name is required</div>
        <div class="errorlabel" *ngIf="(addTask.get('projectDescription')?.errors?.['maxlength'] || addTask.get('projectDescription')?.errors?.['minlength']) && submitted">Project Name has to be between 3 and 20</div> -->
        </div>

        <div class="project-status">
          <table>
            <thead>
              <tr>
                <th>Task Status Id</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let status of taskStatus">
                <th>{{ status.projectTaskStatusId }}</th>
                <th [style.background-color]="status.statusColor">{{ status.statusText }}</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="task-buttons">
        <button type="submit">Add</button>
        <button type="button" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</form>

<div *ngIf="empty" class="noDisplay"><h2>No tasks to display!</h2></div>

<table *ngIf="!empty">
  <thead>
    <tr>
      <th>Task Id</th>
      <th>Task Description</th>
      <th>Due Date</th>
      <th>Assignee Mail</th>
      <th>Current Status Id</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{ task.taskId }}</td>
      <td>{{ task.description }}</td>
      <td>{{ task.dueDate | date:'short' }}</td>
      <td>{{ task.assignee }}</td>
      <td>{{ task.currentStatus }}</td>
      <td>
        <button class="comment-button" (click)="Comment(task.taskId)">Comment</button>
          <div class="comment-modal" *ngIf="comment">
            <div class="comment-modal-content">
              <input type="text" placeholder="Enter comment" #comment>
              <div class="button-container">
                <button type="submit" (click)="Addcomment(comment.value)">Add</button>
                <button type="button" (click)="closeModal()">Close</button>
              </div>
            </div>
          </div>
        <button class="comment-button" (click)="viewComments(task.taskId)">View Comments</button>
      </td>
    </tr>
  </tbody>
</table>

